<h3>Workouts</h3>

<div class-"workout-list">
    <% if @workouts %>
        <ul>
            <% @workouts.each do |workout| %>
                <li><%= link_to "#{workout.created_at} #{workout.name}", workout_path(workout) %></li>
            <% end %>
        </ul>
    <% else %>
        <h4>No workouts found</h4>
    <% end %>
</div>

<%= link_to "Create New Workout", new_workout_path %>