<div class="navigation">
  <div class="application-title">{{#link-to 'home' }}IRON & SOIL{{/link-to}}</div>
  <ul class="nav-items">
    <li class="nav-item">IRON</li>
    <li class="nav-item">SOIL</li>
    <li class="nav-item">Settings</li>
  </ul>
</div>

<div class="main-content">
  {{outlet}}
</div>