<h1>New Workout</h1>

<div class="workout-form">
  <div class="field">
    <label class="label">Type</label>
    <div class="control">
      <Input id="classification" @value={{workout.classification}} />
    </div>
  </div>
  <div class="field">
    <label class="label">Notes</label>
    <div class="control">
      <Input id="notes" @value={{workout.notes}} />
    </div>
  </div>
</div>
